= form_for Activity.new do |f|
  = f.hidden_field :activity_type, :value => "bath"
  = f.label "Bath"
  = f.select(:per_use,(1..4))
  %p
  .form-group  
  = f.submit "Log Bath"
  = link_to "Back", :back
  
