= form_for Activity.new do |f|
  = f.hidden_field :activity_type, :value => "shower"
  = f.label "Shower"
  = f.select(:per_use,(2..15))
  = f.label "minutes"
  %p
  .form-group  
  = f.submit "Log Shower"
  %p
  = link_to "Back", :back

  