= form_for Activity.new do |f|
  = f.hidden_field :activity_type, :value => "shower"
  = f.label "Shower"
  = f.select(:per_use,(2..15))
  = f.label "minutes"
  = f.submit "Log Shower"
  = link_to "Back", :back

  