%body.header-choose
.container
  .row
    .col-md-12
    %h3 Log Your Water Use

  .container
    .row
      .col-md-8
        .row
          - Activity::ACTIVITY_TYPES.each do |activity_type|
            .col-md-4
              .a.thumbnail-transp
              .container
              = link_to image_tag("activities/#{activity_type}.png"), log_path(activity_type)
              - if @activities_by_type[activity_type].present?
                #{@activities_by_type[activity_type]/128} gallons
                            
              /= link_to activity_type, log_path(activity_type)

      .col-md-4.box
        %h5= "Water Usage Logged: #{Time.now.strftime("%m/%d/%Y")}"
        %h5= "Estimated Gallons Used #{@day_total}"
  /       - current_user.activities.today.each do |activity|
  /         %p= activity.log_notice
  /       %ul 
  /         - @activities_by_type.each do |activity_type, ounces|

  /           %li You used #{ounces/128} gallons of water using the #{activity_type}
  / 