%body.header-choose
.container
  .row
    .col-md-12.center
    %h1.center Log Your Water Use

  .container
    .row
      .col-md-8
        .row
          - Activity::ACTIVITY_TYPES.each do |activity_type|
            .col-md-4
              .a.thumbnail-transp
              .container
              = link_to image_tag("activities/#{activity_type}.png"), log_path(activity_type)
                            
              / = link_to activity_type, log_path(activity_type)

      .col-md-4.box
        %h4= "Water Usage Logged: #{Time.now.strftime("%m/%d/%Y")}"
        %h4= "Estimated Gallons Used #{@day_total}"
        - current_user.activities.today.each do |activity|
          %p= activity.log_notice
  / .container
  /   .row
  /     .col-md-12.center
         




